SECRET_KEY=gw^9ej(l4vq%d_06xig$vw+b(-@#00@8l7jlv77=sq5r_sf3nu # this key is an example
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres_db_name
POSTGRES_USER=postgres_username
POSTGRES_PASSWORD=12345678
DB_HOST=db
DB_PORT=5432